resultados/simulacao_2d/modelo/best_model_epoch1000.pth
resultados/simulacao_2d/modelo/best_model_epoch10000.pth
resultados/simulacao_2d/modelo/best_model_epoch10500.pth
resultados/simulacao_2d/modelo/best_model_epoch11000.pth
resultados/simulacao_2d/modelo/best_model_epoch11500.pth
resultados/simulacao_2d/modelo/best_model_epoch12000.pth
resultados/simulacao_2d/modelo/best_model_epoch12500.pth
resultados/simulacao_2d/modelo/best_model_epoch13000.pth
resultados/simulacao_2d/modelo/best_model_epoch13500.pth
resultados/simulacao_2d/modelo/best_model_epoch14000.pth
resultados/simulacao_2d/modelo/best_model_epoch14500.pth
resultados/simulacao_2d/modelo/best_model_epoch1500.pth
resultados/simulacao_2d/modelo/best_model_epoch15000.pth
resultados/simulacao_2d/modelo/best_model_epoch15500.pth
resultados/simulacao_2d/modelo/best_model_epoch16000.pth
resultados/simulacao_2d/modelo/best_model_epoch16500.pth
resultados/simulacao_2d/modelo/best_model_epoch17000.pth
resultados/simulacao_2d/modelo/best_model_epoch17500.pth
resultados/simulacao_2d/modelo/best_model_epoch18000.pth
resultados/simulacao_2d/modelo/best_model_epoch18500.pth
resultados/simulacao_2d/modelo/best_model_epoch19000.pth
resultados/simulacao_2d/modelo/best_model_epoch19500.pth
resultados/simulacao_2d/modelo/best_model_epoch2000.pth
resultados/simulacao_2d/modelo/best_model_epoch20000.pth
resultados/simulacao_2d/modelo/best_model_epoch20500.pth
resultados/simulacao_2d/modelo/best_model_epoch21000.pth
resultados/simulacao_2d/modelo/best_model_epoch21500.pth
resultados/simulacao_2d/modelo/best_model_epoch22000.pth
resultados/simulacao_2d/modelo/best_model_epoch22500.pth
resultados/simulacao_2d/modelo/best_model_epoch23000.pth
resultados/simulacao_2d/modelo/best_model_epoch23500.pth
resultados/simulacao_2d/modelo/best_model_epoch24000.pth
resultados/simulacao_2d/modelo/best_model_epoch24500.pth
resultados/simulacao_2d/modelo/best_model_epoch2500.pth
resultados/simulacao_2d/modelo/best_model_epoch25000.pth
resultados/simulacao_2d/modelo/best_model_epoch25500.pth
resultados/simulacao_2d/modelo/best_model_epoch26000.pth
resultados/simulacao_2d/modelo/best_model_epoch26500.pth
resultados/simulacao_2d/modelo/best_model_epoch27000.pth
resultados/simulacao_2d/modelo/best_model_epoch27500.pth
resultados/simulacao_2d/modelo/best_model_epoch28000.pth
resultados/simulacao_2d/modelo/best_model_epoch28500.pth
resultados/simulacao_2d/modelo/best_model_epoch29000.pth
resultados/simulacao_2d/modelo/best_model_epoch29500.pth
resultados/simulacao_2d/modelo/best_model_epoch3000.pth
resultados/simulacao_2d/modelo/best_model_epoch30000.pth
resultados/simulacao_2d/modelo/best_model_epoch3500.pth
resultados/simulacao_2d/modelo/best_model_epoch4000.pth
resultados/simulacao_2d/modelo/best_model_epoch4500.pth
resultados/simulacao_2d/modelo/best_model_epoch500.pth
resultados/simulacao_2d/modelo/best_model_epoch5000.pth
resultados/simulacao_2d/modelo/best_model_epoch5500.pth
resultados/simulacao_2d/modelo/best_model_epoch6000.pth
resultados/simulacao_2d/modelo/best_model_epoch6500.pth
resultados/simulacao_2d/modelo/best_model_epoch7000.pth
resultados/simulacao_2d/modelo/best_model_epoch7500.pth
resultados/simulacao_2d/modelo/best_model_epoch8000.pth
resultados/simulacao_2d/modelo/best_model_epoch8500.pth
resultados/simulacao_2d/modelo/best_model_epoch9000.pth
resultados/simulacao_2d/modelo/best_model_epoch9500.pth
